<!DOCTYPE html>
<html lang="es">

    <!-- Include Head -->
    <%- include('../partials/head', {title: 'Editando: ' + productDetail.name }) %>

<body>

<%- include('../partials/header')%>




<style>

.admin_nav{
    margin-bottom: 20px;
}

form label {
    display: block;
    text-align: left;
}
</style>

    <main>

        <div class="formulario">

    
        <h1>ADMIN / EDICION</h1>
        <h3>Estás editando:</h3>
        <h3><i><%= productDetail.nombre %></i></h3>
        <br>

        <div class="admin_nav">
        <i class="fas fa-solid fa-list"></i><a href="/admin">Listar</a>
        <i class="fas fa-plus"></i><a href="/admin/create">Crear</a>
        </div>


        <div class="formulario">

        <!-- Desde aqui seguir -->
        <!-- OBS para imagenes incluir... enctype="multipart/form-data" -->
        <form action="/admin/<%= productDetail.id %>/?_method=PUT" method="POST" enctype="multipart/form-data">
        

            <% 
            let adidasSelected = '';
            let conversedSelected = '';
            let nikeSelected = '';
            let pumaSelected = '';
            let reebokSelected = '';
            let topperSelected = '';
            let vansSelected = '';

            if (productDetail.marca == "adidas") { adidasSelected = 'selected'; } 
            if (productDetail.marca == "converse") { conversedSelected = 'selected'; } 
            if (productDetail.marca == "nike") { nikeSelected = 'selected'; } 
            if (productDetail.marca == "puma") { pumaSelected = 'selected'; } 
            if (productDetail.marca == "reebok") { reebokSelected = 'selected'; } 
            if (productDetail.marca == "topper") { topperSelected = 'selected'; } 
            if (productDetail.marca == "vans") { vansSelected = 'selected'; } 
            
            %>

            <label for="marca">Marca</label>
            <select id="marca" name="marca">
                <option value="">Seleccione...</option>
                <option value="adidas" <%= adidasSelected %>>Adidas</option>
                <option value="converse"<%= conversedSelected %>>Converse</option>
                <option value="nike"<%= nikeSelected %>>Nike</option>
                <option value="puma" <%= pumaSelected %>>Puma</option>
                <option value="reebok" <%= reebokSelected %>>Reebok</option>
                <option value="topper" <%= topperSelected %>>Topper</option>
                <option value="vans" <%= vansSelected %>>Vans</option>             
            </select>

            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" value="<%= productDetail.nombre %>">

            <label for="precio">Precio</label>
            <input type="number" name="precio" id="precio" value="<%= productDetail.precio %>">

            <label for="descuento">Descuento</label>
            <input type="number" name="descuento" id="descuento" minlength="0" maxlength="90" value="<%= productDetail.descuento %>">

            <label for="descripcion">Descripción</label>
            <textarea name="descripcion" id="descripcion"><%= productDetail.descripcion %></textarea>
            
            <!-- este se podria enviar oculto, pero lo insertamos desde el controlador
            <input type="hidden" name="categoria" id="categoria"  value="zapatillas" >
            -->

            <label for="image">Imagen</label>
            <input type="file" id="image" name="image" accept=".png, .jpg, .jpeg">


            <% 
            
            let femeninoSelected = '';
            let masculinoSelected = '';
            let unisexSelected = '';

            if (productDetail.genero == "femenino") { femeninoSelected = 'selected'; } 
            if (productDetail.genero == "masculino") { masculinoSelected = 'selected'; } 
            if (productDetail.genero == "unisex") { unisexSelected = 'selected'; } 

            %>

            <label for="genero">Genero</label>
            <select id="genero" name="genero">
                <option value="">Seleccione...</option>
                <option value="femenino" <%= femeninoSelected %>>Femenino</option>
                <option value="masculino" <%= masculinoSelected %>>Masculino</option>
                <option value="unisex" <%= unisexSelected %>>Unisex</option>
            </select>

            <% 
            
            let nacionalSelected = '';
            let importadoSelected = '';
        
            if (productDetail.origen == "nacional") { nacionalSelected = 'selected'; } 
            if (productDetail.origen == "importado") { importadoSelected = 'selected'; } 

            %>

            <label for="origen">Origen</label>
            <select id="origen" name="origen">
                <option value="">Seleccione...</option>
                <option value="nacional" <%= nacionalSelected %>>Nacional</option>
                <option value="importado" <%= importadoSelected %>>Importado</option>
            </select>


            <label for="nro_serie">Numero de Serie</label>
            <input type="text" name="nro_serie" id="nro_serie" value="<%= productDetail.nro_serie %>">
   
            <label for="observaciones">Observaciones</label>
            <textarea name="observaciones" id="observaciones"><%= productDetail.observaciones %></textarea>

            <% 
            // JS ponemos la fecha del dia
            // https://stackoverflow.com/questions/1531093/how-do-i-get-the-current-date-in-javascript
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();

            today = yyyy + '-' + mm + '-' + dd ;
            // ------------------------------------
            %>
           
            <!-- El siguiente campo va oculto -->
            <input type="hidden" name="fecha_creado" id="fecha_creado"  value="<%= today %>" >
            
            <input type="submit" value="ACTUALIZAR">

        </form>
      
        </div>

    </div>
    <!--FIN FORMULARIO DE CREACIÓN-->          

    </main>

    <%- include('../partials/footer')%>

</body>
</html>