<!DOCTYPE html>
<html lang="es">

    <!-- Include Head -->
    <%- include('../partials/head', {title: 'Editando: ' + productDetail.name }) %>

<body>

<%- include('../partials/header')%>




<style>

.admin_nav{
    margin-bottom: 20px;
}

form label {
    display: block;
    text-align: left;
}
</style>

    <main>

        <div class="formulario">

    
        <h1>ADMIN / EDICION</h1>
        <h3>Estás editando:</h3>
        <h3><i><%= productDetail.name %></i></h3>
        <br>

        <div class="admin_nav">
        <i class="fas fa-solid fa-list"></i><a href="/admin">Listar</a>
        <i class="fas fa-plus"></i><a href="/admin/create">Crear</a>
        </div>


        <div class="formulario">

        <!-- Desde aqui seguir -->
        <!-- OBS para imagenes incluir... enctype="multipart/form-data" -->
        <form action="/admin/<%= productDetail.id %>/?_method=PUT" method="POST" enctype="multipart/form-data">
        
<!-- Errores... si los hay los listamos aca -->
            <% 
            if(locals.errors){
                errors.forEach(error => {
            %>
                <p style="color: tomato;"><%= error.msg %></p>
            <% 
                })
            }
            %>


            <label for="marca">Marca</label>
            <select id="marca" name="marca">
                <option value="">Seleccione...</option>
                <%    
                for( let i = 0; i < brands.length; i++ ) { 
                %>
                <option value="<%= brands[i].id %>" 
                    <%= ( productDetail.id_brand == brands[i].id ) ? 'selected' : '' %>
                    <%= ( locals.old && old.marca == brands[i].id ) ? 'selected' : '' %>>
                    <%= brands[i].name.toUpperCase() %>
                </option>
                <% 
                }
                %>
            </select>

            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" value="<%= productDetail.name %>">

            <label for="precio">Precio</label>
            <input type="number" name="precio" id="precio" value="<%= productDetail.price %>">

            <label for="descuento">Descuento</label>
            <input type="number" name="descuento" id="descuento" minlength="0" maxlength="90" value="<%= productDetail.discount %>">

            <label for="descripcion">Descripción</label>
            <textarea name="descripcion" id="descripcion"><%= productDetail.description %></textarea>
            
            <label for="genero">Genero</label>
            <select id="genero" name="genero">
                <option value="">Seleccione...</option>
                <%    
                    const gender = ['mujer', 'hombre', 'unisex'];
                    for (let x of gender) {
                %>
                    <option value="<%= x %>" <%= ( x == productDetail.gender ) ? 'selected' : '' %>>
                    <%= x.toUpperCase() %>
                    </option>                     
                <%     
                    }
                %>
            </select>

            <label for="origen">Origen</label>
            <select id="origen" name="origen">
               <option value="">Seleccione...</option>
                <%    
                    const origin = ['nacional', 'importado'];
                    for (let x of origin) {
                %>
                    <option value="<%= x %>" <%= ( x == productDetail.origin ) ? 'selected' : '' %>>
                    <%= x.toUpperCase() %>
                    </option>                     
                <%     
                    }
                %>
            </select>

            <label for="image">Imagen</label>
            <input type="file" id="image" name="image" accept=".jpg, .jpeg, .png, .gif">
            <input type="hidden" name="imgFilename"  value="<%= productDetail.image %>" >

            <label for="observaciones">Observaciones</label>
            <textarea name="observaciones" id="observaciones"><%= productDetail.observations %></textarea>

            <% 
            // JS ponemos la fecha del dia
            // https://stackoverflow.com/questions/1531093/how-do-i-get-the-current-date-in-javascript
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();

            today = yyyy + '-' + mm + '-' + dd ;
            // ------------------------------------
            %>
           
            <!-- El siguiente campo va oculto -->
            <input type="hidden" name="fecha_modificado" id="fecha_modificado"  value="<%= today %>" >
            
            <input type="submit" value="ACTUALIZAR">

        </form>
      
        </div>

    </div>
    <!--FIN FORMULARIO DE CREACIÓN-->          

    </main>

    <%- include('../partials/footer')%>

</body>
</html>