

        <!-- estilos en... styles-productDetail.css -->
        <div class="recomendados">

            <% for(let i=0; i< productsDto.length ; i++) { 
                
                // si hay o no imagen de producto...
                let productImage;
                if (productsDto[i].image) {
                    productImage = "products/" + productsDto[i].image;
                } else {
                    productImage = "noimage.jpg";
                } 
                // --------------------------------

            %>
            <a href="/zapatillas/id/<%= productsDto[i].id %>">
            <div class="imagen_texto">

                <div class="imagen">
                    <img src="/images/<%= productImage %>" alt="<%= productsDto[i].name %>" class="imgZapatilla">
                    
                        <div onclick="event.preventDefault(); like('<%= productsDto[i].id %>');">
                            <i class="fas fa-heart <%= arrayFav.includes(productsDto[i].id) ? 'active-fav' : ''  %>" id="heart<%= productsDto[i].id %>"></i>
                        </div>

                        <% 
                        if(productsDto[i].discount > 0){
                        %> 
                        <img src="/images/dto.png"  alt="descuento" class="imgDescuento">
                        <span class="txtDescuento"><%= productsDto[i].discount + '%' %></span>
                        <% 
                        }
                        %>
                        
                </div>
                <hr>
                
                <div class="texto"> 
                    <strong>
                    <%= productsDto[i].brands.name.toUpperCase() + ' // '+ productsDto[i].name %>
                    </strong> 
                    <br><br>
                    <% 
                    if(productsDto[i].discount > 0){
                        let valorDto = productsDto[i].price * ( productsDto[i].discount / 100 );
                        let precioFinal = productsDto[i].price - valorDto;
                    %> 
                    <h3 >
                        <span class="tachado">$<%= productsDto[i].price.toLocaleString() %></span> 
                        <span class="textoRojo">$<%= precioFinal.toLocaleString() %></span> 
                    </h3> 
                    <% 
                    }else{
                    %>
                    <h3>$<%= productsDto[i].price.toLocaleString() %></h3> 
                    <% 
                    }
                    %>
                </div>

                <button class="buttonAnadir">Ver articulo </button>

            </div>
            </a>
            <% } %>

        </div>