<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %>

<body>

    <%- include('./partials/header')%>

    <main> 
        
        <h1>ZAPATILLAS / TODAS</h1>
        
        <%- include('./partials/productDetailBox')%>
        <%- include('./partials/productDetailBox')%>
        <%- include('./partials/productDetailBox')%>

        <div class="degrade"></div>

    </main>

    <%- include('./partials/footer')%>

</body>
</html>