<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %>

<body>

    <%- include('./partials/header')%>

    <style>
        .portada{
            /* background image */
            background-image: url("/images/portada_superior.jpg");
            background-size: cover;
            height: 100vh;

            /* alineacion flex */
            display: flex;
            align-items: center;
            justify-content: center;  

            /* sombra texto */
            color: #fff;
            text-shadow: 0 5px 5px #7f00b2; 
            font-size: large;
        }

        
    </style>
     
    <div class="portada">
        <% if (genero == '') { %><h1>(TODAS)</h1><% } %>
        <% if (genero == 'mujer') { %><h1>(MUJERES)</h1><% } %>
        <% if (genero == 'hombre') { %><h1>(HOMBRES)</h1><% } %>
        <% if (genero == 'unisex') { %><h1>(UNISEX)</h1><% } %>
    </div>

    <main> 
        
        <h1>ZAPATILLAS</h1>
        <% if (genero == '') { %><h2>(TODAS)</h2><% } %>
        <% if (genero == 'mujer') { %><h2>(MUJERES)</h2><% } %>
        <% if (genero == 'hombre') { %><h2>(HOMBRES)</h2><% } %>
        <% if (genero == 'unisex') { %><h2>(UNISEX)</h2><% } %>

        
    
        <div class="recomendados">

            <% for(let i=0; i< productsFiltrados.length ; i++) { %>
            <a href="/zapatillas/<%= productsFiltrados[i].id %>">
            <div class="imagen_texto">
                <div class="imagen">
                    <img src="/images/<%= productsFiltrados[i].codigo %>.jpg" alt="<%= productsFiltrados[i].nombre %>">
                    <i class="fas fa-heart"></i>
                </div>
                <hr>
                <div class="texto"><%= productsFiltrados[i].nombre %>
                <br><br>
                <h4>$<%= productsFiltrados[i].precio %></h4> </div>
            </div>
            </a>
            <% } %>

        </div>

        <div class="degrade"></div>

    </main>

    <%- include('./partials/footer')%>

</body>
</html>