<!DOCTYPE html>
<html lang="es">
<!-- --------------------------------------------- -->
<!-- HEAD (inicio) -->
<%- include('./partials/head') %>

<!-- HEAD (fin) -->
<!-- --------------------------------------------- -->

<!-- --------------------------------------------- -->

<body>

    <%- include('./partials/header')%>


<!--lOGIN-->
<main >
    
    
    <h1>Favoritas</h1>
    

    

    <% if( productsFiltrados.length == 0 ) { %>
        Aun no tenes zapatillas favoritas!  
    <% } %>

        <!-- estilos en... styles-productDetail.css -->
        <div class="recomendados">

            <% for(let i=0; i< productsFiltrados.length ; i++) { 
                
                // si hay o no imagen de producto...
                let productImage;
                if (productsFiltrados[i].image) {
                    productImage = "products/" + productsFiltrados[i].image;
                } else {
                    productImage = "noimage.jpg";
                } 
                // --------------------------------

            %>
            <a href="/zapatillas/id/<%= productsFiltrados[i].id %>">
            <div class="imagen_texto">
                <div class="imagen">
                    <img src="/images/<%= productImage %>" alt="<%= productsFiltrados[i].name %>" class="imgZapatilla">
                    
                        <div onclick="event.preventDefault(); like('<%= productsFiltrados[i].id %>');">
                            <i class="fas fa-heart <%= arrayFav.includes(productsFiltrados[i].id) ? 'active-fav' : ''  %>" id="heart<%= productsFiltrados[i].id %>"></i>
                        </div>
                        
                </div>
                <hr>
                
                <div class="texto"> 
                    <strong>
                    <%= productsFiltrados[i].brands.name.toUpperCase() + ' // '+ productsFiltrados[i].name %>
                    </strong> 
                    <br><br>
                    <h3>$<%= productsFiltrados[i].price.toLocaleString() %></h3> 
                </div>

                <button class="buttonAnadir">Añadir </button>

            </div>
            </a>
            <% } %>

        </div>

        <% if( productsFiltrados.length > 0 ) { %>
        <div class="degrade"></div>    
        <% } %>

<!-- BODY / FOOTER (fin) -->
<!-- --------------------------------------------- -->

</main>


<%- include('./partials/footer')%>
   
</body>
</html>
    

