<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %>

<body>

    <%- include('./partials/header')%>

    <style>
        .portada{
            /* background image */
            background-image: url("/images/portada_superior.jpg");
            background-size: cover;
            height: 100vh;

            /* alineacion flex */
            display: flex;
            align-items: center;
            justify-content: center;  

            /* sombra texto */
            color: #fff;
            text-shadow: 0 5px 5px #7f00b2; 
            font-size: large;
        }

        
    </style>
     
     <%
        let tituloBusqueda = genero;
        if (genero == 'mujer') { tituloBusqueda = 'mujeres'} 
        if (genero == 'hombre') { tituloBusqueda = 'hombres'} 
     %>
    <div class="portada">
        <h1>(<%= tituloBusqueda.toUpperCase() %>)</h1>
    </div>

    <main> 
        
        <h1>ZAPATILLAS</h1>
        <h2>(<%= tituloBusqueda.toUpperCase() %>)</h2>

        
    
        <div class="recomendados">

            <% for(let i=0; i< productsFiltrados.length ; i++) { 
                
                // si hay o no imagen de producto...
                let productImage;
                if (productsFiltrados[i].image) {
                    productImage = "products/" + productsFiltrados[i].image;
                } else {
                    productImage = "noimage.jpg";
                } 
                // --------------------------------

            %>
            <a href="/zapatillas/id/<%= productsFiltrados[i].id %>">
            <div class="imagen_texto">
                <div class="imagen">
                    <img src="/images/<%= productImage %>" alt="<%= productsFiltrados[i].name %>">
                    <i class="fas fa-heart"></i>
                </div>
                <hr>
                <div class="texto"><%= productsFiltrados[i].name %>
                <br><br>
                <h4>$<%= productsFiltrados[i].price %></h4> </div>
            </div>
            </a>
            <% } %>

        </div>

        <div class="degrade"></div>

    </main>

    <%- include('./partials/footer')%>

</body>
</html>