<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %>

<body>

    <%- include('./partials/header')%>



    <% 
    let nroResultados = productDetail.length;
    let h2Resultados;
    if (productDetail.length > 0) { 
        h2Resultados = productDetail.length;
    }else{
        h2Resultados = "SIN";
    }
    %>


    <div class="portada">
        <div class="port2">
            (<%= h2Resultados %> RESULTADOS)
        </div>
    </div>


    <main> 


        <h1>ZAPATILLAS</h1>
        <h2>(RESULTADOS)</h2>

        
    
        <div class="recomendados">


        <% if (productDetail.length > 0) { %>




            <!-- con resultados -->
            <% for(let i=0; i< productDetail.length ; i++) { 
                
                // si hay o no imagen de producto...
                let productImage;
                if (productDetail[i].image) {
                    productImage = "products/" + productDetail[i].image;
                } else {
                    productImage = "noimage.jpg";
                } 
                // --------------------------------

            %>
                <a href="/zapatillas/id/<%= productDetail[i].id %>">
                <div class="imagen_texto">
                    <div class="imagen">
                        <img src="/images/<%= productImage %>" alt="<%= productDetail[i].name %>" class="imgZapatilla">
                        <i class="fas fa-heart"></i>
                    </div>
                    <hr>
                    <div class="texto"><%= productDetail[i].name %>
                    <br><br>
                    <h4>$<%= productDetail[i].price %></h4> </div>
                </div>
                </a>
            <% } %>
        <!-- /con resultados -->
        <% } else { %>
        <!-- sin resultados -->
        <div>
            <br>
            <h2 class="sin_resultados">No hay productos que coincidan con esa búsqueda</h2>
        </div>
        <!-- /sin resultados -->
        <% } %>

        </div>

        <div class="degrade"></div>

    </main>

    <%- include('./partials/footer')%>

</body>
</html>