<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head', {title: 'Zapatillas / ' + productDetail.name}) %>

<body>

<%- include('./partials/header')%>

    <main>

        <div class="zapatillasDetail">

            <div class="zapatillasDetail_izq">

                <% 
                // si hay o no imagen de producto...
                let productImage;
                if (productDetail.image) {
                    productImage = "products/" + productDetail.image;
                } else {
                    productImage = "noimage.jpg";
                } 
                // --------------------------------
                %>

                <img src="/images/<%= productImage %>" alt="<%= productDetail.name %>">

                <div class="imagenes_galeria">
                    <img src="/images/<%= productImage %>" alt="<%= productDetail.name %>">
                    <img src="/images/<%= productImage %>" alt="<%= productDetail.name %>">
                    <img src="/images/<%= productImage %>" alt="<%= productDetail.name %>">
                    <img src="/images/<%= productImage %>" alt="<%= productDetail.name %>">
                </div>
            </div>

            <div class="zapatillasDetail_der">
                <!-- titulo -->
                <h1><%= productDetail.name %></h1>
                <!-- precio -->
                <h2>$ <%= productDetail.price.toLocaleString() %></h2>
                <!-- cuotas -->
                <div class="detalles_zapatillas">
                    <i class="fas fa-credit-card"></i>
                    6 CUOTAS SIN INTERES DE <span class="info_negrita">$ 2.499,83</span> 
                </div>
                <!-- envio -->
                <div class="detalles_zapatillas">
                    <i class="fas fa-truck"></i>
                    RECIBÍ TU COMPRA ENTRE EL <span class="info_negrita">23 / 26</span> 
                </div>
                <!-- stock -->
                <div class="detalles_zapatillas_alerta">
                    <i class="fas fa-exclamation-triangle"></i>
                    ¡Solo quedan 3 en stock!
                </div>
                <!-- talles -->
                <br> 
                <span class="info_negrita">Talles:</span>
                <div class="talles">
                
                    <div class="circulo_talles">37</div>
                    <div class="circulo_talles">39</div>
                    <div class="circulo_talles">44</div>
                </div>
                
                <div class="boton_alcarrito">AÑADIR AL CARRITO</div>
                
            </div>

        </div>
        

        <!-- INFORMACION -->
        <h2>+ Información</h2>
        <div class="informacion">
            <p>
            <span class="info_negrita">Descripcion:</span>
            <%= productDetail.description %>
            </p>
            <ul>
                <li><span class="info_negrita">Genero: </span><%= productDetail.gender %></li>
                <li><span class="info_negrita">Adecuado para: </span>Todo el dia</li>
                <li><span class="info_negrita">Caña: </span>Baja</li>
                <li><span class="info_negrita">Ajuste: </span>Con cordones</li>
                <li><span class="info_negrita">Origen: </span><%= productDetail.origin %></li>
                <li><span class="info_negrita">Marca: </span><%= brandDetail.name %></li>
                <li><span class="info_negrita">Material: </span>Cuero</li>
            </ul>
        
        </div>
        
        
        

    </main>

    <%- include('./partials/footer')%>

</body>
</html>