<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head', {title: 'Zapatillas / ' + productDetail.name}) %>

<body>

<%- include('./partials/header')%>

    <main>

        <div class="zapatillasDetail">

            <div class="zapatillasDetail_izq">

                <% 
                // si hay o no imagen de producto...
                let productImage;
                if (productDetail.image) {
                    productImage = "products/" + productDetail.image;
                } else {
                    productImage = "noimage.jpg";
                } 
                // --------------------------------
                %>



<div class="imgDetail">
    
                <img src="/images/<%= productImage %>" alt="<%= productDetail.name %>" class="imgBig">

                <div onclick="event.preventDefault(); like('<%= productDetail.id %>');">
                    <i class="fas fa-heart <%= arrayFav.includes(productDetail.id) ? 'active-fav' : ''  %>" id="heart<%= productDetail.id %>"></i>
                </div>

                <% 
                if(productDetail.discount > 0){
                %> 
                <img src="/images/dto.png"  alt="descuento" class="imgDescuento2" >
                <span class="txtDescuento2"><%= productDetail.discount + '%' %></span>
                <% 
                }
                %>

</div>
                <div class="imagenes_galeria">
                    <img src="/images/<%= productImage %>" alt="<%= productDetail.name %>" class="imgSmall">
                    <img src="/images/<%= productImage %>" alt="<%= productDetail.name %>" class="imgSmall"> 
                    <img src="/images/<%= productImage %>" alt="<%= productDetail.name %>" class="imgSmall">
                    <img src="/images/<%= productImage %>" alt="<%= productDetail.name %>" class="imgSmall">
                </div>
            </div>
            
            <div class="zapatillasDetail_der">
                <!-- titulo -->
                <h1><%= brandDetail.name.toUpperCase() + ' // '+ productDetail.name %></h1>
                <!-- precio -->
                <% 
                if(productDetail.discount > 0){
                    let valorDto = productDetail.price * ( productDetail.discount / 100 );
                    let precioFinal = productDetail.price - valorDto;
                %> 
                <h2>
                    <span class="tachado">$<%= productDetail.price.toLocaleString() %></span> 
                    <span class="textoRojo">$<%= precioFinal.toLocaleString() %></span> 
                </h2> 
                <% 
                }else{
                %>
                <h2>$ <%= productDetail.price.toLocaleString() %></h2>
                <% 
                }
                %>

                <!-- cuotas -->
                <% 
                let priceCuotas;

                let valorDto = productDetail.price * ( productDetail.discount / 100 );
                let precioFinal = productDetail.price - valorDto;
                
                if(productDetail.discount > 0){
                    priceCuotas = precioFinal / 6;
                }
                else{
                    priceCuotas = productDetail.price / 6;
                }
                    priceCuotas = priceCuotas.toFixed(2);
                    priceCuotas = Number(priceCuotas)
                    priceCuotas = priceCuotas.toLocaleString();
                %>
                <div class="detalles_zapatillas">
                    <i class="fas fa-credit-card"></i>
                    6 CUOTAS SIN INTERES DE <span class="info_negrita">$ <%= priceCuotas %></span> 
                </div>

                <!-- envio -->
                <% 
                function sumarDias(fecha, dias){
                    fecha.setDate(fecha.getDate() + dias);
                    return fecha;
                }

                let dmas7 = sumarDias(new Date(), +7);
                let dmas9 = sumarDias(new Date(), +9);

                dmas7 = dmas7.getDate();
                dmas9 = dmas9.getDate();
                
                %>
                <div class="detalles_zapatillas">
                    <i class="fas fa-truck"></i>
                    RECIBÍ TU COMPRA ENTRE EL <span class="info_negrita"><%= dmas7 %> / <%= dmas9 %></span> 
                </div>
                <!-- stock -->
                <div class="detalles_zapatillas_alerta">
                    <i class="fas fa-exclamation-triangle"></i>
                    ¡Solo quedan 3 en stock!
                </div>

<style>
    .destacado{
        background-color: #21D2FE;
    }
</style>
<script>
function selectTalle(id){

    
    // obtenemos array de todos...
    // recorremos el array y limpiamos el destacado a todos...
    let elementDestacado = document.querySelectorAll('.circulo_talles');
    for (let i = 0; i < elementDestacado.length; i++) {
        elementDestacado[i].classList.remove("destacado");
    }

    /* destacamos al especifico indicado */
    let element = document.getElementById(id);
    element.classList.add("destacado");



}

function addCarrito(){

    let destacado = document.getElementsByClassName("destacado");

    // no se selecciono talle
    if(destacado.length == 0){
        let msgAnuncio = document.getElementById("msgAnuncio");
        msgAnuncio.style.display='block';    
        msgAnuncio.innerText = "Seleccione un talle";
        
        setTimeout(function () {
            // display none o visibility hidden
            msgAnuncio.style.display='none';
        }, 4000);
    } 
    // si marco talle...

    let zapatillaTalle = destacado[0].innerText;
    let zapatillaId = destacado[0].id;
    // el id viene... 1544 con el talle al final y como el talle son dos caract lo borramos
    zapatillaId = zapatillaId.slice(0, -2); 



    if (localStorage) {
        let cart;
        
        // si no existe lo creamos vacio
        if (!localStorage['cart']) cart = [];
        // si existe aplicamos JSON.parse
        else cart = JSON.parse(localStorage['cart']);     

        if (!(cart instanceof Array)) cart = [];
        cart.push(zapatillaId + "_" + zapatillaTalle);
        
        //conteo items array
        localStorage.setItem('cartConteo', cart.length);
        //lo guardamos nuevamente como cadena de texto
        localStorage.setItem('cart', JSON.stringify(cart));
    } 

    /* cargarCarrito esta en header.ejs */
    cargarCarrito();


}


</script> 

                <!-- talles -->
                <br> 
                <span class="info_negrita">Talles:</span>
                <div class="talles">
                
                    <div id="<%= productDetail.id %>37" class="circulo_talles" onclick="selectTalle(<%= productDetail.id %>37)">37</div>
                    <div id="<%= productDetail.id %>39" class="circulo_talles" onclick="selectTalle(<%= productDetail.id %>39)">39</div>
                    <div id="<%= productDetail.id %>44" class="circulo_talles" onclick="selectTalle(<%= productDetail.id %>44)">44</div>


                    

                </div>
    
                <style>
                    .msgAnuncioVerde{
                        text-align: center;
                        color: green;
                        font-weight: bold;
                    }
                    </style>
                <% if(logueado){ %>
                <div class="boton_alcarrito" onclick="addCarrito();">AÑADIR AL CARRITO</div>
                <% } else {%>
                <div class="boton_alcarrito" onclick="carritoFaltaLoguear();">AÑADIR AL CARRITO</div>
                <% } %>

                <br>
                <div id="msgAnuncio" class="msgAnuncioVerde"></div>
                

            </div>

        </div>
        

        <!-- INFORMACION -->
        <h2>+ Información</h2>
        <div class="informacion">

            <p>
                <span class="info_negrita">Marca: </span><%= brandDetail.name.toUpperCase() %>
                // <span class="info_negrita">Genero: </span><%= productDetail.gender.toUpperCase() %>
                // <span class="info_negrita">Origen: </span><%= productDetail.origin.toUpperCase() %>
            </p>

            <br>

            <p>
            <span class="info_negrita">Descripcion:</span>
            <%= productDetail.description %>
            </p>

        
        </div>
        

        

    </main>

    <script>
    function carritoFaltaLoguear() {

    let msgAnuncio = document.getElementById("msgAnuncio");
    
    msgAnuncio.style.display='block';    
    
    msgAnuncio.innerText = "Debe loguearse antes!";
    
        setTimeout(function () {
            // display none o visibility hidden
            msgAnuncio.style.display='none';
        }, 4000);
        
    }
    </script>


    <%- include('./partials/footer')%>

</body>
</html>