<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %>

<body>

    <%- include('./partials/header')%>

    <style>
        .portada{
            /* background image */
            background-image: url("/images/portada_superior.jpg");
            background-size: cover;
            height: 100vh;

            /* alineacion flex */
            display: flex;
            align-items: center;
            justify-content: center;  

            /* sombra texto */
            color: #fff;
            text-shadow: 0 5px 5px #7f00b2; 
            font-size: large;

            /* tamaño del texto... */
            font-size:70px;
            font-weight: bold;
        }

        .port2{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.4);
            width: 100%;
            height: 100%;
        }
        
    </style>
     
     <%
        let tituloBusqueda = genero;
        if (genero == 'mujer') { tituloBusqueda = 'mujeres'} 
        if (genero == 'hombre') { tituloBusqueda = 'hombres'} 
     %>
    <div class="portada">
        <div class="port2">
            (<%= tituloBusqueda.toUpperCase() %>)
        </div>
        
    </div>

    <main> 
        
        <h1>ZAPATILLAS</h1>
        <h2>(<%= tituloBusqueda.toUpperCase() %>)</h2>
        <br><br>
  
        <style>
            /* https://csswolf.com/how-to-make-a-realistic-button-press-effect-in-css/ */
        .buttonAnadir {
            padding: 10px;
            width: 100%;
            border-radius: 10px;
            background: #A334FF;
            color: #fff;
            border: 1px solid black;
            box-shadow: 0 8px #bbb; 
        }
        
        .buttonAnadir:hover {
            box-shadow: 0 3px #999;
            transform: translateY(5px);
            cursor: pointer;
        }
        
        </style>

        <!-- estilos en... styles-productDetail.css -->
        <div class="recomendados">

            <% for(let i=0; i< productsFiltrados.length ; i++) { 
                
                // si hay o no imagen de producto...
                let productImage;
                if (productsFiltrados[i].image) {
                    productImage = "products/" + productsFiltrados[i].image;
                } else {
                    productImage = "noimage.jpg";
                } 
                // --------------------------------

            %>
            <a href="/zapatillas/id/<%= productsFiltrados[i].id %>">
            <div class="imagen_texto">
                <div class="imagen">
                    <img src="/images/<%= productImage %>" alt="<%= productsFiltrados[i].name %>">
                    <i class="fas fa-heart"></i>
                </div>
                <hr>

                <div class="texto"> 
                    <strong>
                    <%= productsFiltrados[i].brands.name.toUpperCase() + ' // '+ productsFiltrados[i].name %>
                    </strong> 
                    <br><br>
                    <h3>$<%= productsFiltrados[i].price %></h3> 
                </div>

                <button class="buttonAnadir">Añadir </button>

            </div>
            </a>
            <% } %>

        </div>

        <div class="degrade"></div>

    </main>

    <%- include('./partials/footer')%>

</body>
</html>