<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body>

    <%- include('./partials/header')%>

    
<div class="container" style="margin-top: 40px;">
    <div>
        <div>
            <h2>Hi <%= user.name %> <%= user.last_name %></h2>
            <img src="/images/users/<%= user.profileImage %> ">
            <br>
            <br>
            <div><%= user.email %> </div>
        </div>
    </div>
</div>



<%- include('./partials/footer')%>


</main>
   
</body>
</html>
    

