<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body>

    <%- include('./partials/header')%>

    
<div class="container" style="margin-top: 40px;">
    <div>
        <div>
            <h2>Hi <%= user.first_name %> <%= user.last_name %></h2>
            <img src="/images/users/<%= user.profileImage %> ">
            <br>
            <div>
                <h3>Mi perfil</h3>  

                <p>Nombre : <%= user.first_name %> </p>
                <p>Apellido : <%= user.last_name %> </p>
                <p>Email : <%= user.email %> </p>
                <p>Genero : <%= user.gender %> </p>

                <a href="/users/editProfile/<%=user.id %>"><button type= "submit" id="crearcuenta" style="color: #fff;">
                            Editar perfil
                </button></a>

            </div>

            <a id="crearcuenta" style="color: #fff;" class="boton-inicio" href="/users/logout">Logout</a>
        </div>
    </div>
</div>



<%- include('./partials/footer')%>


</main>
   
</body>
</html>
    

